@import url(https://fonts.googleapis.com/css2?family=Fraunces:wght@200&display=swap);

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Vsery-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Very-dark-green: hsl(156, 42%, 18%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'fraunces', sans-serif;
    background-color: var(--Cream);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    display: flex;
    max-width: 600px;
    background-color: #fff;
    margin: 0 1rem;
}

.image {
    width: 50%;
}

